.desktopContainer {
    height: 100vh; /* 화면 전체 */
    width: 100%; /* 💥 부모 width 고정 */
    display: flex;
    flex-direction: column;
}

.desktop {
    flex: 1; /* 💥 부모 width 100% 채움 */
    background: url("/web_portfolio/assets/image/background.jpg") no-repeat center center;
    background-size: cover; /* 💥 배경화면 꽉 차게 */
    position: relative;
    display: flex;
    flex-direction: column; /* 아이콘 세로 정렬 */
    width:100%;
    padding: 10px;
    height:100%;
    overflow: hidden;
}

.taskbar {
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #202020;
    z-index: 1000;
}


.desktopIcons {
    display: flex;
    flex-direction: column; /* 세로 우선 정렬 */
    flex-wrap: wrap; /* 아래 다 차면 다음 열로 감 */
    height: 100%; /* 💥 화면 세로 기준으로 제한 */
    align-content: flex-start; /* 왼쪽부터 채움 */
    gap: 10px;
    overflow: hidden; /* 스크롤 제거 */
}



.desktopIcons > * {
  pointer-events: auto; /* 👈 아이콘은 클릭 가능 */
}

