.section{
    height:auto;
    min-height:100vh;
    padding:40px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    color:coral;
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
}
