.section{
    height:auto;
    min-height:100vh;
    padding:40px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    color:coral;
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
}

.desktop {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("/web_portfolio/assets/image/background.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.desktopIcons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px; /* 👈 작업표시줄 높이만큼 제외 */
  pointer-events: none; /* 👈 부모가 이벤트 방해하지 않게 */
}

.desktopIcons > * {
  pointer-events: auto; /* 👈 아이콘은 클릭 가능 */
}

