.sticky {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 350px;
    background-color: #fdf39a;
    border-radius: 4px;
    border:2px solid var(--main-border-color);
    padding: 10px;
    font-family: inherit;
    box-shadow:
    12px 12px 0 rgba(0,0,0,0.25);       /* 외부 그림자 */
}

.titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
    touch-action: none;
    user-select: none;
    cursor: move;
}

.title {
    font-size: 14px;
}

.closeButton {
    background: none;
    font-size: 16px;
    border-radius:2px;
    padding:2px 5px;
    cursor: pointer;
    font-weight: bold;
    border:none;
}
.closeButton:hover {
    background: #fff8b9;
    border-radius: 4px;
    border:none;
}

.textarea {
    width: 100%;
    height:250px;
    border: none;
    resize: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-family: inherit;

    overflow: auto;
    scrollbar-width: none; 
}
